
* {
	box-sizing: border-box;
}

body {

}

.container {
	width: 100%
	max-width: 1000px;
}

h1, h2 {
	font-family: 'Kelly Slab', cursive;
}


.imageClass {
	max-width: 275px;
	margin: 10px 5px 10px 5px;
}

.playerClass {
	max-width: 275px;
}

#charactersDiv {
	text-align: center;
}

#playerContainer, #defenderContainer {
	width: 100%;
	max-width: 275px;
}

#playerHeader {
	text-align: center;
	background-color: white;
	color: black;
	bottom: 5px;
}

.playerClass {
}

#enemiesDiv {
	margin-top: 10px;
	}

#buttonDiv {
}

#atackDiv {
}

#defenderDiv {
}

#defenderHeader {
	text-align: center;
	width: 100%;
	background-color: white;
	color: black;
	bottom: 5px;
}

.defenderClass {
    max-width: 275px;
}

.attack, .reset {
	margin-left: 20px;
	margin-bottom: 20px;
}